* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserratt", sans-serif;
}

main {
  min-height: 100vh;
}

.search-box {
  width: 100%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
}

::placeholder {
  color: #252525;
  margin-left: 50px;
}

input {
  text-indent: 30px;
}

.search-box .search-bar {
  display: block;
  width: 70%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 100px;
  background-image: url("./assets/search.png");
  background-size: 21px;
  background-position-y: 16px;
  background-position-x: 15px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 20px;

  transition: 0.4s ease;
}

.normal {
  background-image: url("./assets/paisaje.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #0a0a0a7a;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.text-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.app.warm {
  background-image: url("./assets/caliente.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #0a0a0a9b;
  background-position: center;
}

.app {
  background-image: url("./assets/frio.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #0a0a0a9b;
  background-position: center;
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
