* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserratt", sans-serif;
}

main {
  min-height: 100vh;
}

.search-box {
  width: 100%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
}

.icono {
  width: 70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  margin-top: -15px;
}

::placeholder {
  color: #252525;
  margin-left: 50px;
}

input {
  text-indent: 30px;
}

.search-box .search-bar {
  display: block;
  width: 70%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 100px;
  background-image: url("./assets/search.png");
  background-size: 21px;
  background-position-y: 16px;
  background-position-x: 15px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 20px;

  transition: 0.4s ease;
}

.normal {
  background-image: url("./assets/paisaje.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #0a0a0a7a;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(0.5rem);
  width: 50%;
  margin: auto;
}

.location-box .location {
  color: #00b7ff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.text-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.app.warm {
  background-image: url("./assets/caliente.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #0a0a0a9b;
  background-position: center;
}

.app {
  background-image: url("./assets/frio.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #0a0a0a9b;
  background-position: center;
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  padding: 15px 15px 0px 15px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-align: center;
}

.weather-box .temp-min {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  text-align: center;
}

.weather-box .temp-max {
  color: #fff;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  text-align: center;
}

.weather-box .description {
  color: #fff;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 100;
  width: 225px;
  text-align: center;
  border-radius: 50px;
  padding: 7px;
  background-color: #00b7ff;
}

.weather-box .weather {
  color: #00b7ff;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  width: 190px;
  padding-left: 15px;
  border-left: 3px solid #fff;
  margin: auto;
}

@media (max-width: 360px) {
  .weather-box .temp {
    font-size: 80px;
  }
  .weather-box .weather {
    font-size: 43px;
  }
}

@media (max-width: 600px) {
  .box {
    width: 80%;
  }
}
